<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br>
<div class="container">


   <div class="row">
   
       <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
             <div class="circle-tile-description text-faded">Accounts</div>
          <div class="circle-tile-number text-faded" id="accountCount"></div>
        </div>
      </div>
    </div>
    
   
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content red">
          <div class="circle-tile-description text-faded">Recipes</div>
          <div class="circle-tile-number text-faded " id="reciperCount"></div>
        </div>
      </div>
    </div> 
    
     <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading blue"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content blue">
          <div class="circle-tile-description text-faded">Breakfast</div>
          <div class="circle-tile-number text-faded " id="breakfastCount"></div>
        </div>
      </div>
    </div> 
    
      <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading orange"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content orange">
          <div class="circle-tile-description text-faded">Soups</div>
          <div class="circle-tile-number text-faded " id="soupsCount"></div>
        </div>
      </div>
    </div> 
    
      <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading green"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content green">
          <div class="circle-tile-description text-faded">Main Dishes</div>
          <div class="circle-tile-number text-faded " id="mainDishesCount"></div>
        </div>
      </div>
    </div> 
    
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading purple"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content purple">
          <div class="circle-tile-description text-faded">Desserts</div>
          <div class="circle-tile-number text-faded " id="dessertsCount"></div>
        </div>
      </div>
    </div> 
    
   
    </div>
	 <hr>
	 

	    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" id="search" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
   <br>
   
<table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="wrap">

  </tbody>

</table>
</div>


<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  

		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function(){
				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/accountAll",
					dataType: "json",
					success: function(data){
							for(i = 0; i < data.length; i++){
								var el = '<tr><th scope="row">' + i +'</th><td>' + data[i].username + '</td><td>' + data[i].email + '</td><td>User</td><td><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-danger">Delete</button></td></tr>';
							    $(el).hide().prependTo('.wrap').fadeIn(1000);
							    $(el).hide().prependTo('.wrap').fadeOut(1000);
							}
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/accountcount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#accountCount').fadeIn(1000);
							    $(el).hide().prependTo('#accountCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/reciperCount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#reciperCount').fadeIn(1000);
							    $(el).hide().prependTo('#reciperCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/breakfastCount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#breakfastCount').fadeIn(1000);
							    $(el).hide().prependTo('#breakfastCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/soupsCount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#soupsCount').fadeIn(1000);
							    $(el).hide().prependTo('#soupsCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/mainDishesCount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#mainDishesCount').fadeIn(1000);
							    $(el).hide().prependTo('#mainDishesCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$.ajax({
					type: "Get",
					url: "/CulinaryRecipes/ajax/dessertsCount",
					dataType: "json",
					success: function(data){
								var el = "<div>" +data + "</div>";
							    $(el).hide().prependTo('#dessertsCount').fadeIn(1000);
							    $(el).hide().prependTo('#dessertsCount').fadeOut(1000);
						},
					error: function(data){
							console.log("Error");
						}
					});

				$("#search").on('input', function(){
					var search = $(this).val();
					console.log(search);
					console.log(search.length);
					if(search.length > 2){
						$('.wrap').html('');
						
						$.ajax({
							type: "Get",
							url: "/CulinaryRecipes/ajax/admin/search",
							dataType: "json",
							data:{
								search: search
							},
							success: function(data){
									dataA = data;
									console.log(data);
									for(i = 0; i < data.length; i++){
										console.log(i +", username:" + data[i].username + ", email:" + data[i].email);
										var el = '<tr><th scope="row">' + i +'</th><td>' + data[i].username + '</td><td>' + data[i].email + '</td><td>User</td><td><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-danger">Delete</button></td></tr>';
									    $(el).hide().prependTo('.wrap').fadeIn(1000);
									    $(el).hide().prependTo('.wrap').fadeOut(1000);
									}
								},
							error: function(data){
									console.log("Error");
								}
							});
					} else if(search.length == 0){
						$('.wrap').html('');
						
						$.ajax({
							type: "Get",
							url: "/CulinaryRecipes/ajax/admin/search",
							dataType: "json",
							data:{
								search: search
							},
							success: function(data){
									dataA = data;
									console.log(data);
									for(i = 0; i < data.length; i++){
										console.log((i+1) +", username:" + data[i].username + ", email:" + data[i].email);
										var el = '<tr><th scope="row">' + i +'</th><td>' + data[i].username + '</td><td>' + data[i].email + '</td><td>User</td><td><button type="button" class="btn btn-primary">Edit</button><button type="button" class="btn btn-danger">Delete</button></td></tr>';
									    $(el).hide().prependTo('.wrap').fadeIn(1000);
									    $(el).hide().prependTo('.wrap').fadeOut(1000);
									}
								},
							error: function(data){
									console.log("Error");
								}
							});
						}
					});

			});
     	 /*]]>*/
		</script>  
 
</body>	
</html>	