<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br><br>
<div class="container">
	
	<h4><i class="fas fa-fish"> Ingredients</i></h4>
	<hr>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="#">Rice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="#">Pasta</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active"  href="#">Meat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="#">Fish</a>
  </li>
</ul>

</div>

<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  
 
</body>	
</html>	