<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br><br>
<div class="container">
	
  <div class="row">
   
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading red"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content red">
          <div class="circle-tile-description text-faded">My recipes</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div> 
    
     <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading blue"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content blue">
          <div class="circle-tile-description text-faded">Breakfast</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div> 
    
      <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading orange"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content orange">
          <div class="circle-tile-description text-faded">Soups</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div> 
    
      <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading green"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content green">
          <div class="circle-tile-description text-faded">Main Dishes</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div> 
    
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading purple"><i class="fa fa-utensils fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content purple">
          <div class="circle-tile-description text-faded">Desserts</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div> 
    
     <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-thumbs-up fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded">My likes</div>
          <div class="circle-tile-number text-faded ">666</div>
        </div>
      </div>
    </div>
    
    </div>
	 <hr>
	
	 <div class="jumbotron p-6 p-md-6 text-white rounded bg-dark">
	<h4>Edit my data</h4>
	<h6>Password</h6>
	<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-danger mb-2">Change password</button>
</form>
	
	
	</div>
	
	 <div class="jumbotron p-6 p-md-6 text-black rounded bg-light">
	<h4>My recipes</h4>
	
	    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" id="search" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
   <br>
   
	</div>
</div>

<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  
 
</body>	
</html>	