<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br>
<div class="container">
	
<h4 style="color:#ff471a">CulinaryRecipes’s privacy notice and cookie policy</h4>
<p>Welcome to CulinaryRecipes’s privacy notice and cookie policy. You can find information about what we do with your personal data in this section.</p>
	<br>
	<h6>1. About us </h6>
	<h6>2. About this privacy notice </h6>
	<h6>3. Personal data we collect</h6>
	<h6>4. How we collect personal data</h6>

<br>

<h6 style="color:#ff471a">1. About us </h6>
<p>CulinaryRecipes, Inc. is the data controller of your personal data. When we mention CulinaryRecipes, we, us or our in this privacy notice, we mean CulinaryRecipes, Inc, or the relevant CulinaryRecipes company responsible for processing your data.

<h6 style="color:#ff471a">2. About this privacy notice</h6>
<p>This privacy notice tells you how CulinaryRecipes collects and processes information that may identify you (personal data) when you use our site, sign in as a user or interact with us in other ways. We may show you other privacy notices when we collect or share your personal data and this privacy notice is in addition to those. Our privacy notice was last updated on... never oopsy. We’re likely to update in future and we’ll let you know about any significant changes. If you have questions about this privacy notice you can get in touch with us by emailing.</p>

<h6 style="color:#ff471a">3. Personal data we collect</h6>
<p>We may collect the following information about you:</p>

<p>3.1 Information that directly identifies you. This may include your email address, username and password.</p>
<p>3.2 Profile data. This may include your username and password and other information you give us, information you give us in connection with purchases or orders made by you, your interests, preferences, feedback and survey responses. Profile data you enter in your account profile, including your username may be shown to other users to facilitate user interaction on this site. We do not disclose email addresses to other users.</p>

<h6 style="color:#ff471a">4. How we collect personal data</h6>

<p>4.1 You may give us your personal data directly, for example when you create a user account.</p>
<p>4.2 We automatically collect personal data when you interact with our site.</p>

</div>
	  
<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  
 
</body>	
</html>	