<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br><br>
<div class="container">
	
	<h4><i class="fas fa-utensils"> Recipes</i></h4>
	<hr>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="#">Breakfast</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="#">Soups</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active"  href="#">Main Dishes</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active"  href="#">Desserts</a>
  </li>
</ul>

<hr>
<h5><i class="fas fa-cookie-bite"> All Recipes </i></h5>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"><i class="fas fa-star"></i></th>
      <th scope="col"><i class="fas fa-globe-americas"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  <svg class="bd-placeholder-img card-img-top" width="250" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></td>
      <td><p>Name</p>
      	<p>Decription</p>
      </td>
        <td>1</td>
          <td>Country</td>
    </tr>
    <tr>
       <td>  <svg class="bd-placeholder-img card-img-top" width="250" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></td>
      <td><p>Name</p>
      	<p>Decription</p>
      </td>
        <td>5</td>
          <td>Country</td>
    </tr>
    <tr>
       <td>  <svg class="bd-placeholder-img card-img-top" width="250" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg></td>
      <td><p>Name</p>
      	<p>Decription</p>
      </td>  
        <td>2</td>
          <td>Country</td>
    </tr>  
  </tbody>
</table>
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>

<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  
 
</body>	
</html>	