<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head th:replace="view/viewAdmin:: header-css">
	
  	
<body>
	
	 <div th:replace="view/viewAdmin:: header"></div>
	 
<br>
<div class="container">
	
<nav class="navbar navbar-expand-lg" style="background-color: #ff704d; color:#fff">
  <a class="navbar-brand" href="#">Category</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Breakfast </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Soups </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Main Cources </a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Desserts </a>
      </li>      
    </ul>
    </div>
</nav>


</div>

<br><br><br>  

<div class="container">
	 <div th:replace="view/viewAdmin:: footer"></div>
</div>  
 
</body>	
</html>	