body, html
{
	background-color: #f2f2f2;
	color:#1a1a1a;
  	padding-top: 1.7rem;
  	padding-bottom: 0rem;
}

h2,h3,h4
{
	font-variant: small-caps;
}

a
{
  color: #ff471a;
}
       
.navbar-dark .navbar-nav .nav-link 
{
  color: #ff471a;
}  

/* navbar */
.navbar {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


.btn-danger
{ 
border-radius: 15px;
box-shadow: 0 9px #999;
cursor: pointer;


background-color: #ff471a; 
border: none; 
color: white;
border-radius: 4px;
text-align: center;
 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-danger:active 
{
  background-color: #801a00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-danger:hover 
{
background-color: #ff704d; 
color: white;
border: none;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-dark
{ 
border-radius: 15px;
box-shadow: 0 9px #999;
cursor: pointer; 
border: none; 
color: white;
border-radius: 4px;
text-align: center;
 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-dark:active 
{
  background-color: #801a00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-dark:hover 
{
color: white;
border: none;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.btn-warning
{ 
cursor: pointer;


background-color: #ff471a; 
border: none; 
color: white;
border-radius: 4px;
text-align: center;
 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-warning:active 
{
  background-color: #801a00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-warning:hover 
{
background-color: #ff704d; 
color: white;
border: none;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary
{ 
border-radius: 15px;
box-shadow: 0 9px #999;
cursor: pointer;


background-color: #33adff; 
border: none; 
color: white;
border-radius: 4px;
text-align: center;
 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary:active 
{
  background-color: #005c99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-primary:hover 
{
background-color: #80ccff; 
color: white;
border: none;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #333;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    
  .nav-pills > li > a.active {
  background-color: #ff471a !important;
  color: #ffffff !important;
}

.nav-pills > li > a:hover {
  color: #ffffff !important;
}

.nav-link-color {
  color: #ffffff;
}
    